

.borde1{
	background-color: blue;
}
.borde2{
	background-color: red;
}

.borde3{
	background-color: green;

}
.color{
	background-color: #7132ec;
}
.edicion{
	text-align: center;
}
.clasecss{
   background-color: #ff8800;
   font-weight: bold;
}
.capa1{
 	display: none;

}
.capa2{

	
}
