/*Alejandro José Jurado Reyes */



	#contenedor1{

		max-width: 100%;
		height: 8000px;
		margin: 0 auto ;		 
	

	}
	#header{
		
		max-width: 85%;		
		height: 160px;
		background-color: #FBD6BA;
				
		
	}

	#contenedor2{
		
		background-color: #D7D7D7;
		width: 70%;
		height: 750px;
		margin-right:15%;	
		margin-top: 1%;	
		float: right;			
		border-radius: 31px 31px 31px 31px;
		-moz-border-radius: 31px 31px 31px 31px;
		-webkit-border-radius: 31px 31px 31px 31px;
		border: 0px solid #000000;
	}

	#articulo1{
		background-color: #8CB0E1;
		width: 50%;
		height: 600px;
		margin: 5%;
	

	}
	#articulo2{
		background-color: #D89590;
		width: 25%;
		height: 200px;	 
		float: right;
		margin-right:  5%;
		margin-top: -51.5% ;
		
	}
	#articulo3{

		background-color: #D89590;
		width: 25%;
		height:200px;		
		float: right;
		margin-right: 5%; 
		position: relative;
		margin-top: -30% ;
			
		
	}
	

	#contenedor3{
		
		background-color: #D7D7D7;
		width: 70%;
		height: 500px;
		margin-right:15%;	
		margin-top: 1%;	
		float: right;
		border-radius: 31px 31px 31px 31px;
		-moz-border-radius: 31px 31px 31px 31px;
		-webkit-border-radius: 31px 31px 31px 31px;
		border: 0px solid #000000;
		
	}
	#articulo4{
		background-color:#D89590;
		
		width: 25%;
		height: 200px;
		float: right;
		margin-right: 5%; 
		
	}

	#menu{
		
		background-color: #B5DCE7;
		max-width: 12%;
		margin: 1%;
		height: 600px;	
			

	}

	footer{
		
		max-width: 85%;
		margin-top:40%;	  
		height: 160px;
		background-color: #D2D3A9;
		clear: both;

}

	h1{
		margin: 0 auto ;
		margin-left: 1%;
		font-size: 1vw;
	}

	